body{
	margin: 0;
}

img{
	max-width: 100%
}
.wrapper{

text-align: center;

width: 700px;

margin: auto;

background: white;

padding: 50px;
}

.color1{
	color: #044cefb8;
}
.color2{
	color: red;
	}

.color3{
	color: #ecb108;
}
.color4{

	color:green;
}

	
h1{
	margin: 100px;
	font-size: 75px;
	margin-top: auto;
}
h2{
	font-size: 40px;
	color: blue;
	text-shadow: 2px 6px 8px #210e0e;
}

p{
	font-size:50px
	line;
	font-size: 47px;
	line-height: 60px;
	    margin: 100px;
}

h5{
	    font-size: 20px;
    line-height: 35px;
    background: #f7f7fb;
    box-shadow: 1px 2px 12px #a96262;
}


.link{
	margin-top: 15px;
text-decoration: none;
	
color: #6d1c04;
	
font-size: 25px;
	
background: #a7a7ff;
	
padding: 13px;
	
display: inline-block;
}